.table-container {
  margin-top: 60px; 
  padding: 0 20px;  
}

.custom-table {
  width: 80%;        
  margin: 0 auto;    
  border-collapse: collapse; 
}

.custom-table th,
.custom-table td {
  padding: 10px;  
  text-align: left;
}

.custom-table th {
  background-color: #f4f4f4; 
}

.custom-table td {
  border: 1px solid #ddd;  
}

.custom-table td[colspan="5"] {
  text-align: center;  
}
